body {
  background: #ccc
}

.App {
  margin: 0 auto;
  padding: 0 20px
}

.header {
  text-transform: uppercase;
}

.post {
  margin: 15px 0;
}

.post__title {
  margin: 0;
  padding: 0;
  color:#333;
  font-weight: bold;
}

.post__body {
  font-size: 14px;
  margin:0;
  padding: 0;
  color: #444;
}

.click {
  cursor: pointer;
  text-transform: uppercase;
  color: #4578af;
  font-weight: bold;
  font-size: 13px
}